body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(31, 29, 25);
}

#body-header nav ul li a{
    color: silver;
}

#navbar{
    display: flex;
}

.horizontal-list{
    padding-left: 0px;
    margin: 0px;
    list-style: none;
}

.text-center{
    text-align: center;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;

}

.horizontal-list li a{
    text-decoration: none;

}

.cart{
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}

.pizza-logo img{
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
    height: 100px;
    width: 100px;
}
  
section{
    
    color: grey;
    width: 100%;
    height: 70vh;
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    padding-bottom: 60vh;
   
}

.section-heading{
   
    margin: 5px;
    height: 75px;
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    margin-top: 30px;
    padding-left: 8vh;
}

.button1{
    color: rgb(31, 29, 25);
    text-align: center;
    font-weight:bold;
    margin-top:10px;
    width: 100px;height: 20px;
    padding: 10px;
    background-color: rgb(202, 104, 48);
    border-radius: 2rem;
    opacity: 1;
}
.menu-hr-1-1{
    margin-top: 30px;
    text-align: center;
    position: static;
    background-color:  #b6ac23;
    height: 4px;
    width: 30px;
    z-index: 2;
}
.menu-hr-2-2{
    margin-top: 30px;
    text-align: center;
    position: static;
    background-color:  #b6ac23;
    height: 4px;
    width: 787px;
    z-index: 2;
}

.button{
    text-align: center;
    font-weight:bold;
    margin-top:30px;
    width: 110px;height: 20px;
    padding: 10px;
    background-color: rgb(202, 104, 48);
    border-radius: 2rem;
    opacity: 1;
    color: rgb(31, 29, 25);
}

.menu-hr-1{
    margin-top: 50px;
    text-align: center;
    position: static;
    background-color: #b6ac23;
    height: 4px;
    width: 30px;
    z-index: 2;
}
.menu-hr-2{
    margin-top: 50px;
    text-align: center;
    position: static;
    background-color: #b6ac23;
    height: 4px;
    width: 787px;
    z-index: 2;
}


/* container */


.container{
    flex-wrap: wrap;
    margin-right: 25px;
    width: 1000px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
}
/* item */
.item{
    /* border: 1px solid black ; */
    background-color: beige;
    height: 350px;
    width: 300px;
    /* padding-left: 50px; */
    margin-left: 25px;
    margin-top: 25px;
    
}
/* pizza-image */
.pizza-image img{
    position: absolute;
    height: 175px;
    width: 300px;
}

.symbol img{
    padding-left: 10px;
    padding-top: 10px;
    width: 20px;
    height: 20px;
}

.description{
    position: relative;
    top: 30vh;

}
.price{
    
    position:relative;
    top: 8vh;
}

.price-icons i{

    letter-spacing: 2px;
    color: rgb(218, 219, 196);
    font-size: 25px;
}

.order-now-btn{
    border-radius: 50px;
    margin-right: 5px;
    float: right;
    position: relative;
    
}
.order-now{
position: relative;
top: 30vh;
}

